.ingredient-row {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

.ingredient-column {
    flex: 1 0 50%;
    padding-right: 15px;
}

.single-column {
    flex: 1 0 100%;
    padding-right: 0;
}

.ingredient-item {
    list-style-type: none;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.quantity {
    margin-left: 5px;
}

.quantity,
.unit,
.item {
    margin-right: 5px;
}

@media (min-width: 992px) {
    .ingredient-list-group {
        display: block;
    }
}
